.sidebar{
    background: $color-1;
    font-family: $font-1;
    height: 100%;
    min-height: $minHeight;
    width: 264px;
    border-radius: $borderRadius;
    position: relative;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 250px 1fr 108px;
    grid-template-areas: 
        "1"
        "2"
        "3";
    .id{
        grid-area: 1;
        text-align: center;
        user-select: none;
        position: relative;

        .idContent{
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
            width: 100%;

           
        }
    }
}


img{
    border-radius: 50%;
    box-shadow: 0 0 0 2px $color-3;
    /*taille photo*/
    width: 150px;
    
}

h3 {
    font-size: 1.3rem;
    text-transform: uppercase;
    letter-spacing: .1rem;
    margin-top: 1.5rem;
    }

.navigation {
        grid-area: 2;
        padding: 2rem 1rem;
        
        }

        ul{
            height: 100%;
            display: grid;
        }

        li{
           
            font-size: 1.3rem;
            position: relative;
        }

        a{
            color: black;
        }
        span{
            margin-left: 2.7rem;
        }
        span:hover{
            color: #FAFAF2;
        }
    
      
            
        .social{
            
            
            
            text-align: center;
            text-decoration: none;
            padding-right: 15px;
           
            
            

            
        }

.signature{
    margin-top: 2rem;
    text-align: center;
    letter-spacing: .1rem;
    font-size: .7rem;
    
}

@media  screen and(max-width: 850px) {
    .sidebar{
        display: flex;
        min-height: 50px;
        
        width: 100%;

        .id, .social {
            display: none;
        }
        .navigation {
            width: 100%;
            padding: .1rem 1rem;
            transform: translateY(30%);
            
        }
        ul {
            display: flex;
            justify-content: space-between;

            span{
                margin-left: 1.5rem !important;
                
                
            }
        }

    }
    
}