.competencesContent{
    min-height: $minHeight;
    width: 100%;
    position: relative;
    overflow: hidden;
    display: grid;
    grid-template-columns:  1fr 1fr 1fr;
    grid-template-rows: 60% 40%;
    grid-template-areas: 
    "l f a "
    "s s c";
   
    
   


}

.language, .autre, .skills, .framework , .interet{
    background-color: $color-1;
    border-radius: $borderRadius;
    padding: .8rem;
    margin: 3px;

    
}

.skills{
    grid-area: s;
}







