.competencesContent{
    min-height: $minHeight;
    width: 100%;
    position: relative;
    overflow: hidden;
    display: grid;
    grid-template-columns:  1fr 1fr 1fr;
    grid-template-rows: 60% 40%;
   


}

.language, .autre, .skills, .framework {
    background-color: $color-1;
    border-radius: $borderRadius;
    padding: .8rem;

    
}
h3{
    font-size: 1.4rem;
    margin-bottom: 1rem;
    font-family: $font-1;
    text-transform: uppercase;

}


